/* TodoList.css */
.todo-list {
  margin: 20px 0;
}

.todo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}
